@page
@model AdminDashCore.Pages.Admin.DashboardModel
@{
    Layout = "_AdminLayout";
}

<div class="container mt-4">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title">Mijozlar</h5>
                    <p class="card-text">500+ yangi mijoz</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Buyurtmalar</h5>
                    <p class="card-text">1200+ tasdiqlangan buyurtma</p>
                </div>
            </div>
        </div>
    </div>
</div>
